* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

h1, h2, h3, h4 {
  padding: 8px
}

.sobre {
  background: url("../images/background1.jpg") no-repeat fixed center bottom;
  background-size: cover;
  min-height: 500px;
  position: relative;
  color: white;
}

.sobre .absolute {
  position: absolute;
  width: 100%;
  height: 500px;
  left: 0;
  top: 0;
}

.sobre .backdrop {
  background: #000;
  opacity: 0.6;
  z-index: 1;
}

.sobre .conteudo {
  text-align: left;
  z-index: 2;
  position: relative;
}

.sobre .conteudo div {
   position: absolute;
   padding: 10px;
   top: 50px;
   left: 20px
}
