@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Ubuntu Condensed', sans-serif;
  line-height: 22px;
  text-align: center;
  color: white;

  a {
    text-decoration: none;
    color: lighten(#000, 10%);
  }
}

h1 {
  font-family: 'Bree Serif', sans-serif;
  letter-spacing: 10px;
  font-size: 2.5em;
  text-shadow: #000 3px 2px;
}

.medium-space {
  min-height: 400px;
  padding: 20px;
}

.small-space {
  min-height: 200px;
  padding: 20px;
}

.sobre {
  background: url("../images/background1.jpg") no-repeat fixed center bottom;
  background-size: cover;
  position: relative;

  .absolute {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .backdrop {
    background: #000;
    opacity: 0.6;
    z-index: 1;
  }

  .conteudo {
    z-index: 2;

    div {
      margin-top: 100px;
      text-align: center;
      padding: 10px;
      height: 300px;

      .about-me {
        margin: 0 auto;
        width: 65%;
        min-height: 310px;
      }
    }
  }
}

.patrocinadores {
  color: black;
  background: lighten(gray, 75%);
}

.skew {
  -webkit-transform: skew(20deg);
}

.row {
  width: 95%;
  margin: 0 auto;

  .col-3 {
    width: 30%;
    margin: 5px;
    display: inline-block;
  }

  .col-2 {
    width: 45%;
    margin: 5px;
    display: inline-block;
  }

  .col-1 {
    width: 95%;
    margin: 0 auto;
  }
}

.hr {
  width: 30px;
  height: 2px;
  background: #000;
  margin: 0 auto;
}

.corridas {
  background: lighten(#000, 20%);
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;

  .corrida {
    img {
      max-width: 100%;
      transition: all 0.3s ease;

      &:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        cursor: pointer;
      }
    }

    h3 {
      margin-top: 10px;
    }
  }

  .slide-horizontal {
    display: none;
    width: 100%;
    overflow-x: auto;

    .box-image {
      img {
        width: 200px;
        height: 200px;
      }
    }
  }
}

.viagens {
  color: black;
  background: lighten(gray, 75%);

  .viagem {
    img {
      max-width: 100%;
      transition: all 0.3s ease;

      &:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        cursor: pointer;
      }
    }

    h3 {
      margin-top: 10px;
    }
  }

  .slide-horizontal {
    display: none;
    width: 100%;
    overflow-x: auto;

    .box-image {
      img {
        width: 200px;
        height: 200px;
      }
    }
  }
}

.mensagem {
  background: url("../images/imagem-reflexiva.jpg") no-repeat fixed center;
  background-size: cover;
  position: relative;

  .absolute {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .backdrop {
    background: #000;
    opacity: 0.6;
    z-index: 1;
  }

  .conteudo {
    z-index: 2;

    div {
      width: 97%;
      margin: 0 auto;
      margin-top: 60px;

      h2 {
        padding-bottom: 5px;
      }
    }
  }
}

.contato {
  color: #000;
}

form {
  width: 80%;
  margin: 0 auto;
  position: relative;
  padding-bottom: 30px;

  input,
  textarea {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 10px;
    resize: none;
  }

  .confirm {
    position: absolute;
    right: 0;
    bottom: -5px;

    button {
      background-image: -webkit-linear-gradient(left, #DB162F 0%, lighten(#DB162F, 10%) 100%);
      background-image: -o-linear-gradient(left, #DB162F 0%, lighten(#DB162F, 10%) 100%);
      background-image: linear-gradient(to right, #DB162F 0%, lighten(#DB162F, 10%) 100%);
      padding: 10px;
      border: none;
      color: white;
    }
  }
}

.rodape {
  background-image: linear-gradient(to right, #DB162F 0%, lighten(#DB162F, 10%) 100%);
  padding: 20px;
}
@media(max-width:835px) {
  .sobre .conteudo div {
    margin-top: 15px;

    h1 {
      line-height: 40px;
    }

    .about-me {
      width: 94%;
    }
  }
}
@media(max-width:700px) {
  .row {
    .col-3 {
      width: 45%;
    }
  }
}
@media(max-width:460px) {
  .row {
    .col-2,
    .col-3 {
      width: 95%;
      margin: 0 auto 10px;
    }
  }
}
@media(max-width:422px) {
  .sobre {
    min-height: 550px;
  }

  .sobre .conteudo div {
    margin-top: 8px;

    h1 {
      line-height: 40px;
    }

    .about-me {
      width: 98%;
    }
  }
}
